.mb-3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.container { 
color: skyblue;
 }


 .btn btn-outline-info btn-lg {
color: rgb(0, 0, 0);

 }

 #buttonLink {
  color: black;
 }

 #kohler {
    max-width: 30%;
    max-height: 30%;
    
 }

 #grohe {
    max-width: 30%;
    max-height: 30%;
 }

 #hansgrohe {
    max-width: 30%;
    max-height: 30%;
    padding-bottom: 10%;
 }

 .button-email {
   max-width: 30%;
   max-height: 30%;
   padding-top: 25%;
 }

 .moransupply-bg {
  background-image: url('./assets/12909473_1172382652801750_1510564092936041517_o.jpg');
  height: 600px;
 }
 

 .carousel .carousel-item {
  height: 500px;
}


@media (min-width: 320px) and (max-width: 468px) {

  #titleLine {
    padding-bottom: 20px;
  }
  
  #buttonLink {
    /* margin: 100px */

  }
 
  #moransupplybackground {
    height: 500px;
    background-position-y: top;
    background-position-x: calc(100% + 725px);
    padding-top: 200px;
    margin-top: -35%;

  } 
  h1 {
    display: none;
  }

  
}

@media (min-width: 500px) and (max-width: 768px) {

  .btn-lg {
    padding: 10px 100px;
  }

  #moransupplybackground {
    height: 600px;
    background-position: top right;
  }

}

@media (min-width: 900px) {

  #moransupplybackground {

    background-position: top right;

  } 

}
   
/* #moransupplybackground {
  height: 600px;
  background-position-y: top;
  background-position-x: calc(100% + 300px);
  padding-right: 500px;
} 

     */